@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* p{
    color: white;
}

section
{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
}
section .netimg {
    position: relative;
    top : 10px;
    width: 80%;
    margin: auto;
}
section #bloc1{
    margin: 0px 0px 25px 20px ;
    padding-top: 20px;
    
}
section #img1{
    box-shadow: 6px 6px 10px black;
}
section #text1{
    display: none;
    position: relative;
    margin-left: 50px;
    padding-right: 20px;
    padding-top: 200px;       
}
section #text1 h1 {
    color: #FFB71D;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    font-size: 2em;
}
section #text1 p{
    font-family: 'Roboto Condensed', sans-serif;
}
section #text1 p a{
    text-decoration: none;
    color: #0EFFBC;
}
section #text1 p a:hover{
    text-decoration: underline;
}
section #text1 p a:visited{
    color: #00FFDA;
}
section #text1 p em{
    font-style: italic;
}
section #bloc2{

    margin: 0px 0px 25px 20px ;
    padding-top: 20px;
}
section #img2{
    box-shadow: 6px 6px 10px black;
}
section #text2{
    display: none;
    position: relative;
    margin-left: 70px;
    padding-right: 20px;
    padding-top: 200px;       
}
section #text2 h1 {
    color: #FFB71D;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    font-size: 2em;
}
section #text2 p{
    font-family: 'Roboto Condensed', sans-serif;
}
section #img2, #img1 {
    display: block;
    width: 600px;
    height: auto;
    margin-left: 60px ;
    margin-bottom: 20px;
    box-shadow: 6px 6px 40px black;
}
section #text2 p a:hover{
    text-decoration: underline;
}
section #text2 p a:visited{
    color: #00FFDA;
}
section #text2 p em{
    font-style: italic;
}
@media all and (max-device-width: 480px){
    header
    {
        width: 100%;
    }
    section p
    {
        font-size: 1.5em;
    }
    .testimg
    {
        width: 98%;
        height: auto;
    }
    section 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    section #bloc1
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        
    }
    section #bloc1 h1,  section #bloc2 h1
    {
        font-size: 2em;
        letter-spacing: 10px;
    }
     #img1, #img2
    {
        display: block;
        width: 80%;
        height:auto;
       
    }
    #bloc1 #text1 h1, #bloc2 #text2 h2
    {
        margin-bottom: 20px;
    }
    #bloc1 {
        margin-bottom: 20px;
    }
    section #bloc2
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;    

    }
    footer h1
    {
        font-size: 3em;
    }
    footer p{
        font-size: 1.5em;
        color: white;
    }
}
